# configuration gateway docs: https://hoop.dev/docs/configuring/gateway#gateway-configuration
# configuration agent docs: https://hoop.dev/docs/configuring/agent
GIN_MODE=release
ORG_MULTI_TENANT=false
# api gateway port
PORT=8009
# info | debug | warn | error
LOG_LEVEL=info
# console | json
LOG_ENCODING=console

GRPC_URL=http://127.0.0.1:8010
# path containing protocol libraries
LIBHOOP=_libhoop
# <allowed-org-id>,<rsa private key encoded in base64>
LICENSE_SIGNING_KEY=

# auth configuration
API_URL=http://localhost:8009
# Set the API_KEY with the following format: 
# <your-org-id>|<random-string>
# API_KEY is only available for self hosted installations
# with ORG_MULTI_TENANT set to false
API_KEY=
# If you don't set a IDP and want to go with AUTH_METHOD as local, you must provide a JWK_KEY.
AUTH_METHOD=
# Generate a random string and place it here. This key shall not be lost or changed.
# If so, all the tokens generated with it will be invalid and all users will need
# to login again. This value is only necessary if AUTH_METHOD is set to local.
JWT_SECRET_KEY=

# It takes preference over IDP_CLIENT, IDP_CLIENT_SECRET and IDP_ISSUER.
# Format: <scheme>://<client-id>:<client-secret>@<issuer-url>/?groupsclaim=<claim-name>&scopes=<scope1,scope2>&_userinfo=<0|1>
# IDP_URI=
IDP_CLIENT_ID=
IDP_CLIENT_SECRET=
IDP_ISSUER=
IDP_AUDIENCE=

# DLP Provider can be 'mspresidio' or 'gcp'
# To use a DLP provider, you must be in an
# enterprise plan with hoop.dev. Otherwise,
# you can leave it blank
DLP_PROVIDER=

# for mspresidio, you must provide the urls for the services
MSPRESIDIO_ANALYZER_URL=
MSPRESIDIO_ANONYMIZER_URL=

# in case your DLP_PROVER is 'gcp', you must
# provide the dlp gcp credentials. See more
# at https://cloud.google.com/security/products/dlp
GOOGLE_APPLICATION_CREDENTIALS_JSON=

# webhooks svix
WEBHOOK_APPKEY=

# the default group to use as admin
ADMIN_USERNAME=admin

# xtdb connection configuration - legacy
POSTGRES_DB_URI=postgres://hoopdevuser:1a2b3c4d@host.docker.internal:5449/hoopdevdb?sslmode=disable

# Sessions download control
# Set to 'true' to disable sessions download
# Set to 'false' to allow sessions download (default)
DISABLE_SESSIONS_DOWNLOAD=false

# Tracking
# for development, let this as true
DO_NOT_TRACK=true

# Tracking control
# Set to 'disabled' to disable all analytics and tracking scripts on the frontend
# Set to 'enabled' to allow analytics and tracking scripts (default)
ANALYTICS_TRACKING=enabled
