# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE related
agent/.idea/*
client/.idea/*
gateway/.idea/*
plugins/.idea/*
common/.idea/*
.idea/*
.fleet/*
# Dependency directories (remove the comment below to include it)
# vendor/

dist/
rootfs/app/ui
build
go.work.sum
