# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE related
agent/.idea/*
agentrs/.idea/*
client/.idea/*
gateway/.idea/*
plugins/.idea/*
common/.idea/*
.idea/*
.fleet/*
.clj-kondo/*
.lsp/*
.calva
.bacon-locations
# Dependency directories (remove the comment below to include it)
# vendor/

dist/
rootfs/app/ui
build
go.work.sum
.env

.DS_Store
libhoop
.terraform*

# certs
*.v3.ext
*.crt
*.csr
*.srl
*.key

# misc dev code
client/cmd/auth
client/cmd/custom.go
gateway/cmd/gateway/.env

deploy/docker-compose/hoopdata/terraform/outputs/
deploy/docker-compose/hoopdata/sessions
deploy/docker-compose/hoopdata/zitadel-admin-sa.json

**/.claude/settings.local.json
**/.mcp.json

# rust build
target/
webapp/resources/public/data/connections-metadata.json