go 1.26.5

toolchain go1.26.5

use (
	./agent
	./client
	./common
	./gateway
	./hoopinspect
	./hoopinspect/analyzer/vertex
	./hoopinspect/cmd
	./hoopinspect/config/yaml
	./hoopinspect/conformance
	./hoopinspect/lexer/conformance
	./hoopinspect/pii/alcatraz
	./hoopinspect/sidecar
	./hoopinspect/store/sqlite
	./tunnel
)
