apiVersion: v1
kind: Secret
metadata:
  name: hoop-config
type: Opaque
stringData:
  ORG_MULTI_TENANT: '{{ .Values.config.ORG_MULTI_TENANT | default "false" }}'
  MIGRATION_PATH_FILES: '{{ .Values.config.MIGRATION_PATH_FILES | default "/app/migrations" }}'
  STATIC_UI_PATH: '{{ .Values.config.STATIC_UI_PATH | default "/app/ui/public" }}'
  POSTGRES_DB_URI: '{{ required "config.POSTGRES_DB_URI is required" .Values.config.POSTGRES_DB_URI }}'
  API_URL: '{{ required "config.API_URL is required" .Values.config.API_URL }}'
  GRPC_URL: '{{ .Values.config.GRPC_URL | default "" }}'
  PGREST_ROLE: '{{ .Values.config.PGREST_ROLE }}'
  GIN_MODE: '{{ .Values.config.GIN_MODE | default "release" }}'
  LOG_ENCODING: '{{ .Values.config.LOG_ENCODING | default "json" }}'
  LOG_LEVEL: '{{ .Values.config.LOG_LEVEL | default "info" }}'
  LOG_GRPC: '{{ .Values.config.LOG_GRPC | default "0" }}'
  GODEBUG: 'http2debug={{ .Values.config.LOG_GRPC | default 0 }}'
  AUTH_METHOD: '{{ .Values.config.AUTH_METHOD }}'
  API_KEY: '{{ .Values.config.API_KEY }}'
  JWT_SECRET_KEY: '{{ .Values.config.JWT_SECRET_KEY }}'
  IDP_URI: '{{ .Values.config.IDP_URI }}'
  {{- if .Values.config.IDP_ISSUER }}
  IDP_ISSUER: '{{ .Values.config.IDP_ISSUER }}'
  IDP_CLIENT_ID: '{{ required "config.IDP_CLIENT_ID is required" .Values.config.IDP_CLIENT_ID }}'
  IDP_CLIENT_SECRET: '{{ required "config.IDP_CLIENT_SECRET is required" .Values.config.IDP_CLIENT_SECRET }}'
  IDP_CUSTOM_SCOPES: '{{ .Values.config.IDP_CUSTOM_SCOPES }}'
  IDP_GROUPS_CLAIM: '{{ .Values.config.IDP_GROUPS_CLAIM }}'
  {{- end }}
  IDP_AUDIENCE: '{{ .Values.config.IDP_AUDIENCE }}'
  TLS_KEY: '{{ .Values.config.TLS_KEY }}'
  TLS_CERT: '{{ .Values.config.TLS_CERT }}'
  TLS_CA: '{{ .Values.config.TLS_CA }}'
  LICENSE_SIGNING_KEY: '{{ .Values.config.LICENSE_SIGNING_KEY }}'
  AGENTCONTROLLER_CREDENTIALS: '{{ .Values.config.AGENTCONTROLLER_CREDENTIALS }}'
  ASK_AI_CREDENTIALS: '{{ .Values.config.ASK_AI_CREDENTIALS }}'
  DLP_PROVIDER: '{{ .Values.config.DLP_PROVIDER | default "gcp" }}'
  GOOGLE_APPLICATION_CREDENTIALS_JSON: '{{ .Values.config.GOOGLE_APPLICATION_CREDENTIALS_JSON }}'
  MSPRESIDIO_ANALYZER_URL: '{{ .Values.config.MSPRESIDIO_ANALYZER_URL }}'
  MSPRESIDIO_ANONYMIZER_URL: '{{ .Values.config.MSPRESIDIO_ANALYZER_URL }}'
  WEBHOOK_APPKEY: '{{ .Values.config.WEBHOOK_APPKEY }}'
  WEBHOOK_APPURL: '{{ .Values.config.WEBHOOK_APPURL }}'
  INTEGRATION_AWS_INSTANCE_ROLE_ALLOW: '{{ .Values.config.INTEGRATION_AWS_INSTANCE_ROLE_ALLOW }}'
  ADMIN_USERNAME: '{{ .Values.config.ADMIN_USERNAME | default "admin" }}'
  PLUGIN_AUDIT_PATH: '{{ .Values.config.PLUGIN_AUDIT_PATH | default "/opt/hoop/sessions" }}'
  PLUGIN_INDEX_PATH: '{{ .Values.config.PLUGIN_INDEX_PATH | default "/opt/hoop/sessions/indexes" }}'
  WEBAPP_USERS_MANAGEMENT: '{{ .Values.config.WEBAPP_USERS_MANAGEMENT }}'
