apiVersion: v1
kind: Service
metadata:
  name: hoopgateway
  {{- with .Values.mainService.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    app: hoopgateway
  ports:
    - port: 8010
      name: grpc
      protocol: TCP
      targetPort: 8010
    - port: 8009
      name: http
      protocol: TCP
      targetPort: 8009
    - port: 13389
      name: rdp
      protocol: TCP
      targetPort: 13389
    - port: 12222
      name: ssh
      protocol: TCP
      targetPort: 12222
{{- with .Values.mainService.httpBackendConfig }}
---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: hoopgateway-http
spec:
  timeoutSec: {{ .timeoutSec | default 30 }}
  healthCheck:
    type: {{ .healthCheckType | default "HTTPS" }}
    requestPath: "/api/healthz"
    port: 8009
{{- end }}
{{- with .Values.mainService.grpcBackendConfig }}
---
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: hoopgateway-grpc
spec:
  timeoutSec: {{ .timeoutSec | default 30 }}
  healthCheck:
    type: {{ .healthCheckType | default "HTTPS" }}
    requestPath: "/api/healthz"
    port: 8009
{{- end }}
