.actionsGroup.actionsGroup::before {
  padding-inline-start: 0;
  text-transform: none;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: 400;
}

.actionLabel.actionLabel {
  font-size: 14px;
}

.actionsList.actionsList {
  padding: 0 16px 16px 16px;
}
