## Default values for hoop.
## This is a YAML-formatted file.
## Declare variables to be passed into your templates.

# Refer to this guide for more details: https://hoop.dev/docs/setup/deployment/overview

# -- Define a custom image configuration
image:
  gw: {}
  #   repository: hoophq/hoop
  #   pullPolicy: Always
  #   tag: latest

# -- Enable the default agent
defaultAgent:
  enabled: false
  imageRepository: 'hoophq/hoopdev'
  imageTag: latest
  imagePullPolicy: Always
  grpcScheme: grpc
  grpcHost: 127.0.0.1:8010
  # 'base64://<base64-encoded-ca-cert>'
  # 'file:///path/to/ca-cert.pem'
  grpcTlsCa: ''
  grpcSkipVerify: false

# -- Enable PostgreSQL
postgres:
  # it default to host mount when enabled
  enabled: false

  # set a storage class name to use a Persistent Volume Claim
  storageClassName: null

  # -- Size of PVC
  size: 10Gi
  # annotations: {}

# -- Enable data masking with Presidio
dataMasking:
  enabled: false
  version: latest
  # best-effort | strict
  mode: best-effort

  analyzer:
    resources:
      limits:
        cpu: 512m
        memory: 1024Mi
      requests:
        cpu: 256m
        memory: 1024Mi

  anonymizer:
    resources:
      limits:
        cpu: 512m
        memory: 512Mi
      requests:
        cpu: 256m
        memory: 512Mi

## Set pod annotations
##
podAnnotations: {}

## Set deployment annotations
##
deploymentAnnotations: {}

# hoop gateway configuration. Please refer to https://hoop.dev/docs/self-hosting
config:
  POSTGRES_DB_URI: ''
  # API_URL: 'yourdomain.tld'
  IDP_AUDIENCE: null
  IDP_ISSUER: null
  IDP_CLIENT_ID: null
  IDP_CLIENT_SECRET: null
  IDP_CUSTOM_SCOPES: null
  # LOG_ENCODING: 'console|json'
  # LOG_LEVEL: 'debug|info|warn|error'
  # LOG_GRPC: "0|1|2"
  # ASK_AI_CREDENTIALS: ''
  # GOOGLE_APPLICATION_CREDENTIALS_JSON: ''
  # PLUGIN_AUDIT_PATH: ''
  # PLUGIN_INDEX_PATH: ''

mainService:
  # -- Annotations to add in the main service
  annotations: {}
    # beta.cloud.google.com/backend-config: '{"ports": {"http": "hoopgateway-http", "grpc": "hoopgateway-grpc"}}'
    # cloud.google.com/app-protocols: '{"http":"HTTPS", "grpc":"HTTP2"}'
  # -- GCP BackendConfig resource
  httpBackendConfig: {}
    # healthCheckType: HTTPS
    # timeoutSec: 30
  # -- GCP BackendConfig resource
  grpcBackendConfig: {}
    # healthCheckType: HTTPS
    # timeoutSec: 259200

ingressApi:
  # -- Enables Ingress
  enabled: false
  ingressClassName: ''
  # -- Ingress annotations (values are templated)
  annotations:
    # kubernetes.io/tls-acme: "true"

  # -- Ingress hostname for API
  # host: hoop.yourdomain.tld
  # -- TLS configuration
  # tls:
  # - hosts:
  #   - api01.domain.tld
  #   - api02.domain.tld


ingressGrpc:
  # -- Enables Ingress
  enabled: false
  ingressClassName: ''
  # -- Ingress annotations (values are templated)
  annotations:
    # kubernetes.io/tls-acme: "true"

  # -- Ingress hostname for gRPC
  # host: hoop.yourdomain.tld
  # -- TLS configuration
  # tls:
  # - hosts:
  #   - grpc01.domain.tld
  #   - grpc02.domain.tld

# --- Expose proxy protocols direct access
proxyService:
  enabled: false
  type: LoadBalancer
  # annotations: {}
  #   service.beta.kubernetes.io/aws-load-balancer-type: nlb
  #   service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
  # ports:
  # - name: pgproxy
  #   port: 15432
  #   targetPort: 15432
  #   protocol: TCP
  # - name: sshproxy
  #   port: 12222
  #   targetPort: 12222
  #   protocol: TCP
  # - name: rdpproxy
  #   port: 13389
  #   targetPort: 13389
  #   protocol: TCP

# -- Define persistence to sessions
persistence:
  # -- Use persistent volume for write ahead log sessions
  enabled: false
  storageClassName: null

  # -- Size of persistent volume claim
  size: 10Gi
  # annotations: {}

# -- Deployment strategy
deploymentStrategy:
  type: Recreate

# -- Node labels for pod assignment
nodeSelector: {}

# -- Toleration labels for pod assignment
tolerations: []

# -- Affinity settings for pod assignment
affinity: {}

# -- CPU/Memory resource requests/limits
resources:
  gw:
    limits:
      cpu: 2048m
      memory: 1Gi
    requests:
      cpu: 512m
      memory: 1Gi

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}

# Name of existing ConfigMap containing extra env vars
extraEnvVarsCM: ""

# Name of existing Secrets containing extra env vars
extraEnvVarsSecret: ""
