@import "allotment/dist/style.css";
@import "@radix-ui/themes/styles.css";
@import "./highlight.css";
@import "./cmdk.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: default;
  --cursor-disabled: not-allowed;
  --cursor-link: pointer;
  --cursor-menu-item: default;
  --cursor-radio: default;
  --cursor-slider-thumb: default;
  --cursor-slider-thumb-active: default;
  --cursor-switch: default;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    --chart-1: 243.8 47.1% 20%;
    --chart-2: 242.2 47.4% 34.3%;
    --chart-3: 243.7 54.5% 41.4%;
    --chart-4: 244.5 57.9% 50.6%;
    --chart-5: 243.4 75.4% 58.6%;
    --chart-6: 238.7 83.5% 66.7%;
    --chart-7: 234.5 89.5% 73.9%;
    --chart-8: 229.7 93.5% 81.8%;
    --chart-9: 228 96.5% 88.8%;
    --chart-10: 226.5 100% 93.9%;
    --chart-11: 225.9 100% 96.7%;
    --chart-12: 243.8 47.1% 20%;
    --chart-13: 242.2 47.4% 34.3%;
    --chart-14: 243.7 54.5% 41.4%;
    --chart-15: 244.5 57.9% 50.6%;
    --chart-16: 243.4 75.4% 58.6%;
    --chart-17: 238.7 83.5% 66.7%;
    --chart-18: 234.5 89.5% 73.9%;
    --chart-19: 229.7 93.5% 81.8%;
    --chart-20: 228 96.5% 88.8%;
    --chart-21: 226.5 100% 93.9%;
    --chart-22: 225.9 100% 96.7%;
    --chart-23: 243.8 47.1% 20%;
    --chart-24: 242.2 47.4% 34.3%;
    --chart-25: 243.7 54.5% 41.4%;
    --chart-26: 244.5 57.9% 50.6%;
    --chart-27: 243.4 75.4% 58.6%;
    --chart-28: 238.7 83.5% 66.7%;
    --chart-29: 234.5 89.5% 73.9%;
    --chart-30: 229.7 93.5% 81.8%;
    --chart-31: 228 96.5% 88.8%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-6: 220 70% 50%;
    --chart-7: 160 60% 45%;
    --chart-8: 30 80% 55%;
    --chart-9: 280 65% 60%;
    --chart-10: 340 75% 55%;
    --chart-11: 340 75% 55%;
    --chart-12: 220 70% 50%;
    --chart-13: 160 60% 45%;
    --chart-14: 30 80% 55%;
    --chart-15: 280 65% 60%;
    --chart-16: 340 75% 55%;
    --chart-17: 220 70% 50%;
    --chart-18: 160 60% 45%;
    --chart-19: 30 80% 55%;
    --chart-20: 280 65% 60%;
    --chart-21: : 340 75% 55%;
    --chart-22: : 340 75% 55%;
    --chart-23: 220 70% 50%;
    --chart-24: 160 60% 45%;
    --chart-25: 30 80% 55%;
    --chart-26: 280 65% 60%;
    --chart-27: 340 75% 55%;
    --chart-28: 220 70% 50%;
    --chart-29: 160 60% 45%;
    --chart-30: 30 80% 55%;
    --chart-31: 280 65% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
