apiVersion: apps/v1
kind: Deployment
metadata:
  name: hoopagent
spec:
  selector:
    matchLabels:
      app: hoopagent
  {{- with .Values.deploymentStrategy }}
  strategy: {{- toYaml . | trim | nindent 4 }}
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret-config.yaml") . | sha256sum }}
        checksum/extra-config: {{ include (print $.Template.BasePath "/extra-agent-config.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: hoopagent
    spec:
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: hoopagent
      {{- end }}
      containers:
      - image: '{{ .Values.image.repository |default "hoophq/hoopdev" }}:{{ .Values.image.tag |default "latest" }}'
        name: agent
        imagePullPolicy: {{ .Values.image.pullPolicy | default "Always" }}
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        envFrom:
        - secretRef:
            name: agent-config
        {{- with .Values.extraSecret }}
        - secretRef:
            name: extra-agent-config
        {{- end}}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}