{:nrepl {:port 8777}

 :source-paths ["src" "src/gen"]

 :dependencies [[reagent "1.3.0"]
                [reagent-utils "0.3.8"]
                [re-frame "1.4.3"]
                [com.andrewmcveigh/cljs-time "0.5.0"]
                [bidi "2.1.6"]
                [clj-commons/pushy "0.3.10"]
                [cider/cider-nrepl "0.50.2"]
                [binaryage/devtools "1.0.3"]
                [re-frisk "1.7.1"]]

 :dev-http
 {8280 "resources/public"}

 :builds
 {:hoop-ui
  {:target     :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules {:app {:init-fn webapp.core/init}}
   :devtools {:preloads [re-frisk.preload]
              :http-root "resources/public/"}
   :compiler-options {:external-config {:react {:version "18"}}}
   :dev {:compiler-options {:source-map-detail-level :all
                            :optimizations :none
                            :parallel-build true
                            :closure-defines
                            {webapp.env/release-type "development"
                             webapp.env/segment-write-key #shadow/env ["SEGMENT_WRITE_KEY" "043Lv52mAcoGOHWVq7n3bxZAVvocyqx0"]
                             webapp.env/sentry-sample-rate #shadow/env ["SENTRY_SAMPLE_RATE" "1.0"]
                             webapp.env/sentry-dsn #shadow/env ["SENTRY_DSN"
                                                                "https://38e03773be6b0d77219d6678a90ed6a5@o4504559799566336.ingest.us.sentry.io/4508377639092224"]
                             webapp.env/api-url #shadow/env ["API_URL"]}}}
   :release {:compiler-options {:output-to "resources/public/js"
                                :output-dir "resources/public/js"
                                :source-maps "resources/public/js/app.js.map"
                                :optimizations :advanced
                                :source-map false
                                :pretty-print false
                                :pseudo-names false
                                :elide-asserts true
                                :closure-defines
                                {webapp.env/release-type "hoop-ui"
                                 webapp.env/segment-write-key #shadow/env ["SEGMENT_WRITE_KEY" "043Lv52mAcoGOHWVq7n3bxZAVvocyqx0"]
                                 webapp.env/sentry-sample-rate #shadow/env ["SENTRY_SAMPLE_RATE" "1.0"]
                                 webapp.env/sentry-dsn #shadow/env ["SENTRY_DSN"
                                                                    "https://b2bf390e5cd94bfc83c0005312d796fd@o919346.ingest.sentry.io/6707471"]
                                 webapp.env/api-url #shadow/env ["API_URL"]}}
             :build-options {}}}}}
