name: Test

on: pull_request

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkout libhoop
        uses: actions/checkout@v3
        with:
          repository: hoophq/libhoop
          path: './libhoop'
          token: ${{ secrets.GH_TOKEN }}
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.22.4'
          cache-dependency-path: '**/go.sum'

      # - name: Test
      #   run: make test
