name: Test

on:
  pull_request:
    branches: [ feat/ci ]

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.3'

      - name: Test
        run: |-
          go test -v github.com/runopsio/hoop/...
